<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title>Todo List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of todos">
        <button mat-icon-button color="primary" (click)="toggleTodo(item)">
          <mat-icon>{{
            item.completed ? "check_circle" : "radio_button_unchecked"
          }}</mat-icon>
        </button>
        <span
          *ngIf="editingTodo !== item"
          matListItemTitle
          [class.completed]="item.completed"
        >
          {{ item.todo }}
        </span>
        <input
          *ngIf="editingTodo === item"
          [(ngModel)]="editingTodoValue"
          (keydown.enter)="updateTodo(item)"
        />
        <div matListItemMeta>
          <button
            *ngIf="editingTodo !== item"
            mat-icon-button
            color="accent"
            (click)="editTodo(item)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="editingTodo === item"
            mat-icon-button
            color="primary"
            (click)="updateTodo(item)"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTodo(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
